%p#notice= notice
%h1 Pokemons
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @pokemons.each do |pokemon|
      %tr
        %td= pokemon['name'].capitalize
        %td= link_to 'Show', pokemon
%br/
= link_to 'New Pokemon', new_pokemon_path
